.login-separator__wrapper {
    width: 100%;
    height: 24px;
    flex-shrink: 0;
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
}

.horizontal-line {
    width: 80%;
    height: 1px;
    
    background: var(--color-stroke-gray);
}

.separator-text {
    margin: auto 10px;
}


