.tooltip-wrapper {
    display: inline-flex;
    font-family: var(--font-text);
}

.tooltip-link {
    color: var(--color-cyan);
    text-align: center;
    font-size: 16px;
    
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: .5vw;
}

