.tracker-wrapper {
    width: 75%;
    height: 6rem;
    display: flex;
    margin: auto;
    justify-content: space-between;
    border: 1px solid var(--color-stroke-gray);
    border-radius: 15px;
}

.trackers-separator__wrapper {
    width: 75%;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    margin: 20px auto -20px auto ;
}

.loader-wrapper {
    margin-top: 30px;
}

@media screen and (min-width: 920px) and (max-width: 1680px) {
    .tracker-wrapper,
    .trackers-separator__wrapper {
        width: 80%;
    }
}

@media screen and (min-width: 920px) and (max-width: 1080px) {
    .tracker-wrapper,
    .trackers-separator__wrapper{
        width: 85%;
    }
}

@media screen and (min-width: 640px) and (max-width: 920px) {
    .tracker-wrapper,
    .trackers-separator__wrapper {
        width: 90%;
    }
}